# Validation Mode

<div class="alert alert-block alert-info">
<b>This mode is used if the nature/label of the event is known in advance. </b>
</div>

## Download data

Input data should be in **mseed** format and correspond to raw **60 second 3-component seismograms**.

Demo data is available in the "mseed" folder.

To apply the algorithm, we need a folder architecture:
* mseed_demo
   * 2022004T134407
        * FR_CHLF_2022004T134407.mseed
        * FR_GARF_2022004T134407.mseed
        * FR_GNEF_2022004T134407.mseed
        * FR_VERF_2022004T134407.mseed
        
The name of the mseed file should be formatted as "{network} _ {station} _ {time_event}.mseed".

To apply this mode, a **csv file** import pandas as pd is also required with the associated label for each event.

In [1]:
import pandas as pd

In [2]:
pred_net_csv = pd.read_csv("../demo_file.csv")
pred_net_csv = pd.DataFrame(pred_net_csv)
pred_net_csv.head()

             time  label_cat
0  2022004T134407          0
1  2022003T041502          0
2  2022001T213524          0
3  2022004T111745          1
4  2022004T111040          1

## Run validation

### From a terminal:

```
 python run.py --mode pred --data_dir ./mseed_demo --spectro_dir ./spectro_demo --output_dir ./output_demo --csv_file ./demo_file.csv
```

### From a notebook:

In [3]:
import sys
sys.path.append('../')
from data_process import spectro_extract
from prediction import valid

import numpy as np

In [4]:
events = np.genfromtxt(f'./../demo_file.csv', delimiter=',', skip_header = 1, dtype=str)

In [5]:
data = spectro_extract(data_dir="./../mseed_demo", spectro_dir="./../spectro_demo", events_list=events)

Number of events: 9
*****************
EVENT 1 / 9
Number of streams: 11
*****************
EVENT 2 / 9
Number of streams: 10
*****************
EVENT 3 / 9
Number of streams: 10
*****************
EVENT 4 / 9
Number of streams: 4
*****************
EVENT 5 / 9
Number of streams: 14
*****************
EVENT 6 / 9
Number of streams: 6
*****************
EVENT 7 / 9
Number of streams: 7
*****************
EVENT 8 / 9
Number of streams: 8
*****************
EVENT 9 / 9
Number of streams: 8

In [6]:
valid(model_dir="./../model/model_2021354T1554.h5", spectro_dir='./../spectro_demo', output_dir="./../output_demo", event_label=events)

2022-09-20 16:48:29.640896: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Number of events: 9
9
*****************
EVENT 1 / 9
Number of station: 11

2022-09-20 16:48:30.027344: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)

Station 2 / 11
Station 3 / 11
Station 4 / 11
Station 5 / 11
Station 6 / 11
Station 7 / 11
Station 8 / 11
Station 9 / 11
Station 10 / 11
Station 11 / 11
*****************
EVENT 2 / 9
Number of station: 10
*****************
EVENT 3 / 9
Number of station: 10
*****************
EVENT 4 / 9
Number of station: 4
*****************
EVENT 5 / 9
Number of station: 15
*****************
EVENT 6 / 9
Number of station: 12
*****************
EVENT 7 / 9
Number of station: 7
*****************
EVENT 8 / 9
Number of station: 8
*****************
EVENT 9 / 9
Number of station: 16

## Read csv file

In [7]:
import pandas as pd

In [8]:
pred_net_csv = pd.read_csv("../output_demo/validation_network_level.csv")
pred_net_csv = pd.DataFrame(pred_net_csv)
pred_net_csv.head()

            event  label_cat  prob_nat  prob_ant  pred         nature
0  2022004T134407          0     0.770     0.230     0        Natural
1  2022003T041502          0     0.988     0.012     0        Natural
2  2022001T213524          0     0.961     0.039     0        Natural
3  2022004T111745          1     0.005     0.995     1  Anthropogenic
4  2022004T111040          1     0.006     0.994     1  Anthropogenic

In [9]:
pred_sta_csv = pd.read_csv("../output_demo/validation_station_level.csv")
pred_sta_csv = pd.DataFrame(pred_sta_csv)
pred_sta_csv.head()

,file_name,station,label_cat,prob_nat,prob_ant,pred,nature
0,FR_ABJF_2022004T134407,ABJF,0,0.044,0.956,1,Anthropogenic
1,FR_CHLF_2022004T134407,CHLF,0,0.962,0.038,0,Natural
2,FR_LBL_2022004T134407,LBL,0,0.216,0.784,1,Anthropogenic
3,FR_GARF_2022004T134407,GARF,0,0.982,0.018,0,Natural
4,FR_GNEF_2022004T134407,GNEF,0,0.914,0.086,0,Natural